#Docker files
docker-compose.yml

#.env
.env
microservices_jira_roadmap.md

## Logs
logs
*.log

## Runtime data
pids
*.pid

# IDE
.vscode/
.idea/

#GOCACHE
tmp
order-service/tmp/.gocache

#Agents
order-service/AGENTS_MD/AGENTS.md
order-service/AGENTS_MD

#LOGS
order-service/internal/logger/logs_test

#
.gitignore